/**************************************
GENERAL: UNIVERSAL AND TYPE SELECTORS
**************************************/
* {
  box-sizing: border-box;
}

body {
	font-family: 'Cabin', 'Arial', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-color: #FAF0E6;
	background-color: #F7F5DA; /* cite: color is Papayawhip from http://colours.neilorangepeel.com */
}

a {
	font-weight: normal;
	text-decoration: none;
}

img {
	max-width: 100%;
}

p {
	max-width: 100%;
}



/**************************************
 CLASS SELECTORS
**************************************/

/*------------ Main Header ------------*/

.main-header {
	font-style: italic;
	color:#EB4D4D;
	padding-left: 6%;
	margin-top: 7%;
	text-align: left;
	font-size: .85em;
}



/*------------ Div 1 ------------*/

.parent-div {
	max-width: 100%;
	clear: both;
}

.child-art-photos-div {
	margin: 0;
	padding: 0;
	float: right;
	width: 75%;
}

.child-art-photos-div ul li {
	float: left;
	width: 28.33%;
	margin: 1%;
	list-style: none;
	border: 3px solid #F5B39F;
	border-radius: 5px;
}

.child-art-photos-div li p {
	margin: 0;
	font-size: 0.75em;
	text-align: center;
	background:#F5B39F; 
}

.child-art-photos-div a {
	text-decoration: none;
}

.child-art-photos-div a:link {
	color:#482C22;
}

.child-art-photos-div a:visited {
	color:#824B38;
}

.child-art-photos-div a:hover {
	color:#EB4D4D;
}

.child-art-photos-div-bottom-nav {
	text-align: right;
	list-style: none;
	padding: 0 10% 0 0;
	margin: 0;
}



/*------------ Div 2 ------------*/

.child-about-div {
	margin: 0;
	padding: 2%;
	float: left;
	width: 25%;
}

.child-about-div-top-nav {
	text-align: left;
	margin: 10%;
	padding: 2% 0 0 2%;
	font-size: 0.8em;
}

.child-about-div-top-nav ul li a {
	padding: 1%;
	text-decoration: none;
}

.child-about-div-top-nav ul li a:link {
	padding: 1%;
	text-decoration: none;
	color:#482C22;
}

.child-about-div-top-nav ul li a:visited {
	padding: 1%;
	text-decoration: none;
	color:#824B38;
}

.child-about-div-top-nav ul li a:hover {
	padding: 1%;
	text-decoration: none;
	color:#F5B39F;
}



/*------------section 1------------*/

.sec-1-about h4 {
	display: block;
	text-align: left;
	margin: 0 0 0 20%;
	padding-top: 5%;
	font-size: 0.8em;
	color:#EB4D4D;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #778899;
}
.sec-1-about p {
	text-align: left;
	margin: 5% 0 0 20%;
	padding: 0;
	font-size: 0.8em;
	color:#482C22;
	padding-bottom: 5%;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #778899;
}



/*------------section 2------------*/

.sec-2-social-icons {
	max-width: 960px;
	margin: 5% 0 0 17%;
	padding: 0;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin-left: 5%;
	margin-top: 0;
	padding: 0;
}


/*------------ Footer ------------*/

.main-footer {
	clear: both;
	padding: 2% 2% 3% 6%;
	margin: 2% 0 0 0;

}

#next-link:link{
	color:#482C22;
}

#next-link:visited{
	color:#824B38;
}

#next-link:hover{
	color:#F5B39F;
}

#copyright {
	color:#482C22;
}



/**************************************
FLOAT CLEARFIX
**************************************/

.group:after {
  content: "";
  clear: both;
}



/* NOTE ABOUT COLOR SCHEME PALETTE USED:  http://www.colourlovers.com/palette/1715623/Rosa_Cake_shelf_1; */
