html, body, header, section, nav, footer {
	margin:0;
	padding:0;
	font-family:"Raleway", "Raleway SemiBold", Arial, Helvetica, sans-serif;
	font-size:1.05em;
	color:#1a1a1a;
}

header, section, nav, footer {
	display:block;
}

section{
	margin:1em 0;
	/*margin: top right bottom left (this is the order of how setting the margin would go); */
	/*

	margin-top:1em;
	margin-bottom:0;
	margin-left:1.04em;
	margin-right1.03em; */
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family:"Raleway","Raleway SemiBold", "Arial Bold", "Helvetica Bold", sans-serif;
}

h1 {
	font-size:4em;
}

h2 {
	font-size:2em;
}

body{
	background-color:#f1f1f1;
}

a {
	font-weight: normal;
	font-family: "Raleway","Raleway SemiBold", "Arial Bold", "Helvetica Bold", sans-serif;
}
.container {
	padding:0 15px;
	margin:0 auto;
}

.container:before, .container:after{
	display:table;
	content: " ";
{

.container:after {


}