/**************************************
GENERAL: UNIVERSAL AND TYPE SELECTORS
**************************************/
* {
  box-sizing: border-box;
}

body {
	font-family: 'PT Serif', 'Times New Roman', serif;
	margin: 0;
	padding: 0;
	font-size: .95em;
	background-image: url('wood.jpg');

}

h1 {
	font-family: 'IM Fell Double Pica SC', 'Times New Roman', serif;
	font-size: 3.5em;
	color: #F2E9E0;
}
h2, h3, h4, h5, h6 {
	font-family: 'IM Fell Double Pica SC', 'Times New Roman', serif;
	font-size: 1.6em;
}

a {
	font-weight: normal;
	text-decoration: none;
}

img {
	max-width: 100%;
}

p {
	max-width: 100%;
}



/**************************************
 CLASS SELECTORS
**************************************/

/*------------ Heading Div ------------*/

#main-header {
	height: 250px;
	padding: 30px;
  	text-align: center;
  	color: darkolivegreen;
}

.parent-header-div {
	max-width: 100%;
	background-image: url('wood.jpg');
}

.child-logo-column, .child-signup-column {
	width: 45%;
}

.child-logo-column {
	margin: 0 0 2% 0;
	padding: 30px;
	float: left;
}

.child-signup-column {
	margin: 5% 0 2% 0;
	padding: 50px;
	float: right;
	text-align: center;
}

.child-signup-column p {
	font-size: .8em;
	color: #F2E9E0;
}

.child-signup-column form {
	font-size: .8em;
	color: #F2E9E0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
 }


/*------------ Nav Div ------------*/

.main-nav {
/*	background-color: #A15B5B; */ 
	background-color: #A17A5B;
	max-width: 100%;
	clear: both;
	margin: 50px;
	font-size: .9em;
	text-align: center;
}

.main-nav ul li a:link {
	color: #F2E9E0;
}

.main-nav ul li a:visited {
	color: #F2E9E0;
}

.main-nav ul li a:hover {
	color: #F2E9E0;
}


.main-nav ul li {
	list-style: none; 
	padding: 4%;
	margin: 0 auto;
	display: inline;
}



/*------------ Photo Viewer Div ------------*/

#photo-viewer {
	position: relative;
	height:300px;
	overflow:hidden;
}

#photo-viewer.is-loading:after{
	content:url(assets/ajax-loader.gif); /* may need a gif here */
	position:absolute;
	top:0;
	right:0;
}

#photo-viewer img{
	position:absolute;
	max-width:100%;
	max-height:100%;
	top:50%;
	left:50%;
}

a.active {
	opacity:0.3;
}


/*------------ Short About Div------------*/
.short-about {
	background: url("http://cdn.morguefile.com/imageData/public/files/q/quicksandala/02/l/1423774882ii3nl.jpg") no-repeat center;
	/*change opacity of background*/
	background-size: cover;
	padding: 15%;
	margin: 50px;
	text-align: center;
	color: #000;
	clear:both;

}

/*------------ Reviews Div------------*/
.reviews-div {
	max-width: 100%;
	padding: 10%;
	margin: 50px;

	background-image: background-image: url('wood.jpg');
	color:#F2E9E0;
}

.reviews-div h4 {
	text-align: center;
}

.reviews-div ul li {
	list-style: none;
}

.reviews-div ul li p {
	text-align: left;
	display: inline;
}

.reviews-div ul li img {
	width: 35px;
	height: 35px;
}


/*------------ Location Div ------------*/

.location-div {
	padding: 5%;
	text-align: center;
	background-image: background-image: url('wood.jpg');
	color:#F2E9E0;
	margin: 50px;

}

.location-div h4 {
	text-align: center;
}

#googleMap {
	margin: 0 auto;
}

/*------------ Reservations Div ------------*/

.reservations-div {
	padding: 5%;
	background-image: url('wood.jpg');
	color:#F2E9E0;
	margin: 50px;

}

.reservations-div h5,
.reservations-div h3 {
	text-align: center;
}

#reservations-table {
	margin: 0 auto;
}
/*------------ Main Footer ------------*/

.main-footer {
	padding: 5%;
	color: #F2E9E0;

}

.main-footer h4 {
	text-align: center;
}

.main-footer a{
	font-size: .9em;
}

#copyright {
	text-align: center;
	background-color:#A17A5B;
	margin: 0 auto;
	padding:1.5%;
}


/*------------ Social Media Icons ------------*/
.social-media-icons {
	text-align: center;
	max-width: 100%;

}
.social-media-icons li {
	list-style: none;
	padding: 4%;
	margin: 0;
	display: inline;
}
.social-media-icons li img {
	width: 25px;
	height: 25px;
}


/*------------ Site Map Nav ------------*/
#site-map-div {
	background-color:#A17A5B;
	padding: 1.5%;
	margin: 0 auto;
}

#site-map-nav {
	text-align: center;

}

#site-map-nav li {
	list-style: none;
	padding: 1%;
	display: inline;
}


#site-map-nav li a:link {
	color: #F2E9E0;
}

#site-map-nav li a:visited {
	color: #F2E9E0;
}

#site-map-nav ul li a:hover {
	color: #F2E9E0;
}

/**************************************
FLOAT CLEARFIX
**************************************/

.cleafix:after {
	clear:both;
	display: block;
}
