/**************************************
GENERAL: UNIVERSAL AND TYPE SELECTORS
**************************************/

* {
  box-sizing: border-box;
}

body {
	font-family: 'PT Serif', 'Times New Roman', serif;
	margin: 0;
	padding: 0;
	font-size: .95em;
	background-image: url('http://i1066.photobucket.com/albums/u415/jalcampbell21/wood_zpscudhqt9g.jpg?t=1433038941');
}

h1 {
	font-family: 'IM Fell Double Pica SC', 'Times New Roman', serif;
	font-size: 3.5em;
	color: #F2E9E0;
}
h2, h3, h4, h5, h6 {
	font-family: 'IM Fell Double Pica SC', 'Times New Roman', serif;
	font-size: 1.6em;
}

a {
	font-weight: normal;
	text-decoration: none;
}

img {
	max-width: 100%;
}

p {
	max-width: 100%;
}



/**************************************
 CLASS AND ID SELECTORS
**************************************/

/*------------ Heading Div ------------*/

#main-header {
	height: 250px;
	padding: 30px;
  	text-align: center;
  	color: darkolivegreen;
}

.parent-header-div {
	max-width: 100%;
	background-image: url('wood.jpg');
}

.child-logo-column, .child-signup-column {
	width: 45%;
}

.child-logo-column {
	margin: 0 0 2% 0;
	padding: 30px;
	float: left;
}

.child-signup-column {
	margin: 5% 0 2% 0;
	padding: 50px;
	float: right;
	text-align: center;
}

.child-signup-column p {
	font-size: .8em;
	color: #F2E9E0;
}

.child-signup-column form {
	font-size: .8em;
	color: #F2E9E0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
 }


/*------------ Nav Div ------------*/

.main-nav {
	background-color: #A17A5B;
	max-width: 100%;
	clear: both;
	margin: 50px;
	font-size: .9em;
	text-align: center;
}

.main-nav ul li a:link {
	color: #F2E9E0;
}

.main-nav ul li a:visited {
	color: #F2E9E0;
}

.main-nav ul li a:hover {
	color: #F2E9E0;
}


.main-nav ul li {
	list-style: none; 
	padding: 4%;
	margin: 0 auto;
	display: inline;
}



/*------------ Img Gallery Div ------------*/
/* Here begins the code for the slider by Avi Kohn from "http://codepen.io/AMKohn/pen/EKJHf" */

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}

/*------------ Short About Div------------*/

.short-about {
	background: linear-gradient(papayawhip, transparent 50%),
				linear-gradient(0deg, papayawhip, transparent),
				papayawhip url("http://cdn.morguefile.com/imageData/public/files/q/quicksandala/02/l/1423774882ii3nl.jpg") no-repeat center;
	background-size: cover;
	padding: 15%;
	margin: 50px;
	text-align: center;
	color: black;
	clear:both;
	border: solid 15px #9cc77b;
}



/*------------ Reviews Div------------*/

.reviews-div {
	max-width: 100%;
	padding: 10%;
	margin: 50px;

	background-image: background-image: url('wood.jpg');
	color:#F2E9E0;
}

.reviews-div h4 {
	text-align: center;
}

.reviews-div ul li {
	list-style: none;
}

.reviews-div ul li p {
	text-align: left;
	display: inline;
}

.reviews-div ul li img {
	width: 35px;
	height: 35px;
}



/*------------ Location Div ------------*/

.location-div {
	padding: 5%;
	text-align: center;
	background-image: background-image: url('wood.jpg');
	color:#F2E9E0;
	margin: 50px;
}

.location-div h4 {
	text-align: center;
}

#googleMap {
	margin: 0 auto;
}



/*------------ Reservations Div ------------*/

.reservations-div {
	padding: 5%;
	background-image: url('wood.jpg');
	color:#F2E9E0;
	margin: 50px;
}

.reservations-div h5,
.reservations-div h3 {
	text-align: center;
}

#reservations-table {
	margin: 0 auto;
}



/*------------ Main Footer ------------*/

.main-footer {
	padding: 5%;
	color: #F2E9E0;

}

.main-footer h4 {
	text-align: center;
}

.main-footer a{
	font-size: .9em;
}

#copyright {
	text-align: center;
	background-color:#A17A5B;
	margin: 0 auto;
	padding:1.5%;
}



/*------------ Social Media Icons ------------*/

.social-media-icons {
	text-align: center;
	max-width: 100%;

}
.social-media-icons li {
	list-style: none;
	padding: 4%;
	margin: 0;
	display: inline;
}
.social-media-icons li img {
	width: 25px;
	height: 25px;
}



/*------------ Site Map Nav ------------*/

#site-map-div {
	background-color:#A17A5B;
	padding: 1.5%;
	margin: 0 auto;
}

#site-map-nav {
	text-align: center;

}

#site-map-nav li {
	list-style: none;
	padding: 1%;
	display: inline;
}

#site-map-nav li a:link {
	color: #F2E9E0;
}

#site-map-nav li a:visited {
	color: #F2E9E0;
}

#site-map-nav ul li a:hover {
	color: #F2E9E0;
}

/**************************************
FLOAT CLEARFIX
**************************************/

.cleafix:after {
	clear:both;
	display: block;
}